@charset "UTF-8";

/* HEADER */
#header{
    width: 200px;
    height: 100%;
    background: #ffd9da;
    float: left;

    z-index: 10;
}
    /* LOGO */
    .logo{
        width: 200px;
        height: 200px;
        position: relative;
    }
    .logo a img{
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    /* NAV */
    .nav{
        width: 180px;
        height: 160px;
        background:#b11116;
        margin: 0 auto;
    }
    .nav>ul>li{
        position: relative;
    }
    .nav>ul>li>h3{
        height: 40px;
        line-height: 40px;
        text-align: center;
    }
    .nav>ul>li:hover{
        background: #f6f6f6;
    }
    .nav>ul>li:hover>h3>a{
        color: #333;
    }
    .nav>ul>li>h3>a{
        color: #fff;
    }
    
    .subnav{
        position: absolute;
        top: 0;
        left: 180px;
        width: 180px;
        
        float: left;

        display: none;

        z-index: 10;
    }
    .subnav>li{
        height: 40px;
        line-height: 40px;
        text-align: center;
        background: rgba(0, 0, 0, 0.8);
    }
    .subnav>li>a{
        color: #fff;
    }
    .subnav>li:hover>a{
        color: #333;
    }
    .subnav>li:hover{
        background: #f6f6f6;
    }

/* SLIDER */
#slider{
    width: 800px;
    height: 350px;
    float: left;
    position: relative;
    overflow: hidden;

    z-index: 1;
}
    .slides{
            position: absolute;
            width: 300%;
            height: 100%;
            display: block;
        }
        .slide{
            width: 800px;
            height: 350px;
            float: left;
            position: relative;
            overflow: hidden;
        }
        .slide img{
            height: 100%;
        }
        /* SLIDE TEXT */
        .slide a h3{
            position: absolute;
            bottom: 0;
            background: rgba(255, 255, 255, 0.7);
            width: 100%;
            padding: 10px;
        }
        .slide a h3 p{
            font-size: 16px;
        }

/* CONTENTS */
#contents{
    width: 800px;
    height: 200px;
    float: left;
    display: block;
}
/* TITLE */
.title{
    width: 100%;
    border-bottom: 2px solid #b11116;
    padding-bottom: 5px;
    position: relative;
}
.icon{
    width: 15px;
    height: 15px;
    float: left;
    margin: 2.5px 5px;
}
.icon img{
    width: 100%;
}
    /* NOTICE */
    .notice{
        padding: 10px;
        width: 266px;
        height: 100%;
        float: left;
    }
    .notice ul{
        margin-top: 5px;
    }
    .notice ul li{
        line-height: 28px;
        padding: 0 5px;
    }
    .notice ul li:hover{
        background: #ffd9da;
    }
    .notice ul li:hover a{
        text-decoration: underline;
    }

    /* GALLERY */
    .gallery{
        width: 266px;
        height: 100%;
        float: left;
        overflow: hidden;
        padding: 10px;
    }
    .gallery ul{
        width: 100%;
        height: 150px;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
    .gallery ul li{
        width: 76px;
        overflow: hidden;
        height: 150px;
        float: left;
        margin: 0 2.5px;
    }
    .gallery ul li a img{
        height: 100%;
        opacity: 0.8;
        transition: 0.2s;
    }
    .gallery ul li:nth-child(1) a img{
        margin-left: -145px;
    }
    .gallery ul li:nth-child(2) a img{
        margin-left: -130px;
    }
    .gallery ul li:nth-child(3) a img{
        margin-left: -155px;
    }
    .gallery ul li:hover a img{
        opacity: 1;
        transform: scale(1.2);
    }
    
    /* BANNER */
    .banner{
        float: left;
        width: 266px;
        height: 100%;
        overflow: hidden;
        padding: 10px;
    }
    .banner-img{
        width: 100%;
        height: 150px;
        overflow: hidden;
        position: relative;
    }
    .banner-img a img{
        width: 100%;
        opacity: 0.8;
        transition: 0.2s;
    }
    .banner-img:hover a img{
        opacity: 1;
        transform: scale(1.2);
    }
    .banner-img a h3{
        width: 100%;
        position: absolute;
        bottom: 0;
        background: rgba(255, 255, 255, 0.7);
        padding: 5px;
        text-align: center;
        font-size: 14px;
    }

/* FOOTER */
#footer{
    width: 800px;
    height: 100px;
    float: left;
    background: #333;
    display: block;
}
    /* LOGO */
    .logo2{
        width: 200px;
        height: 100%;
        float: left;
        position: relative;
    }
    .logo2 a img{
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    /* RIGHT */
    .right{
        float: left;
        width: 600px;
    }
    .menu{
        width: 100%;
        height: 50px;        
    }   
    .menu ul{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .menu ul li{
        float: left;
        margin: 20px;
    }
    .menu ul li:hover a{
        text-decoration: underline;
    }
    .menu ul li a{
        color: #fff;
    }
    /* COPYRIGHT */
    .copyright{
        width: 100%;
        height: 50px;
    }
    .copyright p{
        color: #ccc;
        text-align: center;
        line-height: 50px;
        font-size: 12px;
    }

 /* POPUP */
 #popup{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: none;
 }
 .popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 300px;
    background: #b11116;
    padding: 15px;

    z-index: 999;
 }
 .popup h3{
    color: #fff;
    padding-bottom: 10px;
    border-bottom: 3px solid #ffd9da;
 }
 .popup p{
    color: #fff;
    margin-top: 10px;
    line-height: 30px;
 }
 .btn{
    position: absolute;
    right: 15px;
    bottom: 15px;
    background: none;
    border: 3px solid #ffd9da;
    color: #ffd9da;
    font-weight: 900;
    width: 80px;
    height: 30px;
    transition: 0.2s;
 }
 .btn:hover{
    background: #ffd9da;
    color: #b11116;
 }